*{margin:0;padding:0;}
body{font-size:12px;font-family:arial,"微软雅黑";-webkit-text-size-adjust:none;line-height:1.62;background: url(../img/bg.jpg) no-repeat;background-size: 100% 100%;}
body,html{width:100%;height:100%; overflow: hidden;}
table{border-collapse:collapse;border-spacing:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
ul,ol,li{list-style:none;}
em{font-style:normal}
img{border:none;}
input,img{vertical-align:middle;}
q:before, q:after { content:'' }
.fn-clear:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.fn-clear{*zoom:1;}
a{color:#000;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
a:active{color:#333;-webkit-tap-highlight-color:rgba(0,0,0,0);}
section,aside,header,footer,hgroup,article{display:block}

/*index*/
.wrap {
	width: 300px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -150px;
}
.left, .right, .center, .top, .bottom {
	width: 100px;
	height: 100px;
}
.left {
	background-color: #ea4335;
	box-shadow: 2px 5px 5px rgba(194, 45, 33, .8);
	float: left;
}
.right {
	background-color: #fbbc05;
	box-shadow: 2px 5px 5px rgba(205, 155, 7, .8);
	float: left;
}
.center {
	background-color: #34a853;
	float: left;
	text-align: center;
    line-height: 100px;
}
.top {
	background-color: #a660f5;
	margin-bottom: 5px;
	box-shadow: 2px 5px 5px rgba(123, 71, 182, .8);
	margin: 0 auto;
}
.bottom {
	background-color: #4285f4;
	box-shadow: 5px 5px 5px rgba(47, 96, 178, .8);
	clear: left;
	margin:5px auto 0;
}